<h1>Tabela Principal</h1>

<form>
  <div>
    <label>Id</label>
    <input type="text" disabled [(ngModel)]="id" name="id" />
  </div>

  <div>
    <label>Author</label>
    <input type="text" [(ngModel)]="autor" name="autor" />
  </div>

  <div>
    <label>Musica</label>
    <input type="text" [(ngModel)]="musica" name="musica" />
  </div>

  <button (click)="cadastrarMusica()">
    Criar
  </button>
</form>

<table class="table">
  <caption>
    Table Music
  </caption>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Author</th>
      <th scope="col">Musica</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let musica of musicas | async">
      <td>{{ musica.id }}</td>
      <td>{{ musica.author }}</td>
      <td>{{ musica.text }}</td>
    </tr>
  </tbody>
</table>
